# URL base de la API del servidor backend (debe incluir el protocolo http:// o https://)
# Ejemplo Local: http://localhost:8000
# Ejemplo Producción: https://server.onrender.com
NEXT_PUBLIC_API_URL=

# Dominio raíz de la aplicación para resolver subdominios municipales (sin protocolo http/https)
# Ejemplo Local: localhost:3000
# Ejemplo Producción: produccion.vercel.app
NEXT_PUBLIC_ROOT_DOMAIN=