@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  h1 {
    @apply text-[28px] text-text-2 font-semibold;
  }
  p {
    @apply text-text-1;
  }
  button {
    cursor: pointer;
  }

  html {
    font-family: var(--font-sans);
  }

  input {
    @apply w-full py-4.5 px-4 rounded-xl border-2 border-grey-2 bg-background;
  }

  /* Ocultar el botón de revelar contraseña por defecto de los navegadores */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  .btn {
    @apply py-4 px-6 rounded-xl font-semibold;
  }

  .btn-primary {
    @apply text-white bg-primary;
  }
}

@theme {
  --color-primary: #006872;
  --color-background: #ffffff;
  --color-background-2: #f3fbff;
  --color-text-1: #3a424e;
  --color-text-2: #262c36;
  --color-label-text: #5c6675;
  --color-label-background: #e5ecf1;
  --color-grey-5: #5c6675;
  --color-grey-4: #8a93a2;
  --color-grey-3: #b6bdc9;
  --color-grey-2: #d7dce3;
  --color-grey-1: #edeff3;
  --color-white: #ffffff;
  --shadow-custom: 0 4px 16px rgba(0, 0, 0, 0.15);
  --color-error: #DC2626;
  --color-success: #15803D;
  --color-warning: #DB7628;
  --color-info: #1e40af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

