DATABASE_URL=postgresql://neondb_owner...
PORT=8080
NODE_ENV=development

# JWT
JWT_SECRET=secret-key
JWT_EXPIRES_IN=24h
# Refresh Token
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES_IN=7d
# JWT para verificación de email
JWT_EMAIL_VERIFICATION_SECRET=email-verification-secret
JWT_EMAIL_VERIFICATION_EXPIRES_IN=20m

# Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=test@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM_NAME=No Country - Equipo 06
SMTP_FROM_EMAIL=test@gmail.com

# URLS
FRONTEND_URL=http://localhost:3000

#Config de la bd
DB_POOL_MAX=30
DB_CONNECT_TIMEOUT=5000
DB_QUERY_TIMEOUT=10000
DB_IDLE_TIMEOUT=30000